<h1>Hello, {{.Name}}</h1>
<p>
    Int: {{.Int}}
</p>

<p>
    Float: {{.Float}}
</p>

<p>
    Slice: {{.Slice}}
</p>

<p>
    Map: {{.Map}}
</p>

<pre>
    {{.Map}}
</pre>

<script>
    var m ={{ .Map}}
</script>